@switch(showTaskDetails){
  @case(false){
  <div class="container">
    <div class="create-buttton">                
         
         @if(showAssignedTasks){ <button (click)="showCreateTask()">Create Task<span>+</span></button>}
    </div>
    @if(showAssignedTasks){
      <h1>Tasks You Assigned</h1>
      
    <app-list-task (viewEvent)="viewEventDetails($event)"> </app-list-task>}
     @if(showMyTasks){
      <div class="second-container">
        <h1>Tasks Assigned To You</h1>
        <app-my-tasks (viewEvent)="viewEventDetails($event)"> </app-my-tasks>
      </div>}
    </div>
  }

@case(true){
  <app-task-details [taskInfo]="taskDetails"></app-task-details > 
 }

}