@switch(showTaskDetails){
  @case(false){
  <div class="container">
    <div>        
         <input type="text" placeholder="Find Tasks" id="searchBar" (input)="searchTask($event)">
         <i class="fa-solid fa-magnifying-glass search-icon" ></i>
         
         @if(showAssignedTasks){ <button (click)="showCreateTask()">Create Task<span>+</span></button>}
    </div>
    @if(showAssignedTasks){
      <h1>Tasks You Assigned</h1>
      <div class="filter-bar">
       <div class="filter-title">
        Filter By :
       </div> 
         <div class="name-filter">
        <label for="assignedToFilter"></label>
      
      <select name="receiver" id="receiver" >
        <option value="" disabled selected>Assigned To</option>
        <option value="a1">A1</option>
        <option value="a2">A1</option>
        <option value="a3">A3</option>
      </select>
       </div>
        <label for="statusFilter"></label>
      <select name="status" id="status">        
        <option value="" disabled selected>Status</option>
        <option value="s1">S1</option>
        <option value="s2">S2</option>
        <option value="s3">S3</option>
      </select>
      
      </div>
    
    <app-list-task [taskName]="searchTaskName" (viewEvent)="viewEventDetails($event)"> </app-list-task>}
     @if(showMyTasks){
      <div class="second-container">
        <h1>Tasks Assigned To You</h1>
        <app-my-tasks [taskName]="searchTaskName" (viewEvent)="viewEventDetails($event)"> </app-my-tasks>
      </div>}
    </div>
  }

@case(true){
  <app-task-details [taskInfo]="taskDetails"></app-task-details > 
 }

@default{
  <div class="container">
    <div>        
         <input type="text" placeholder="Find Tasks" id="searchBar">
         <i class="fa-solid fa-magnifying-glass search-icon" ></i>
      <button (click)="showCreateTask()">Create Task<span>+</span></button>
    </div>
    @if(showAssignedTasks){
      <h1>Tasks You Assigned</h1>
    
    <app-list-task>[taskName]="searchTaskName" (viewEvent)="viewEventDetails($event)" </app-list-task>}
    @if(showMyTasks){
    <div class="second-container">
      <h1>Tasks Assigned To You</h1>    
      <app-my-tasks> </app-my-tasks>
    </div>}
  </div>
}
}