.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-overlay {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modal--modal-content {
    box-shadow: 0 1px 3px 0 rgba(38,41,58,.06);
    background: white;
    position: relative;
    border-radius: 12px;
}

.modal--close-btn {
    position: absolute;
    top: -15px;
    right: -13px;
    font-size: 18px;
    color:black;
    background-color: white;
    padding: 8px 10px;
    border-radius: 30px;

}

.modal--close-btn:hover {
    background-color: darken( #d74840, 15%);
    cursor: pointer;
}
app-add-member{
}