<div class="modal">
	<div class="modal-overlay" (click)="close($event)"></div>
	<div class="modal--modal-content">
      @if (modalTitle=="createProject") {
        <app-add-project></app-add-project>
      }
      @else if(modalTitle=="createTask"){
        <app-create-task></app-create-task>

      }
      @else if(modalTitle=="addMember"){
        <app-add-member [projectData]="modalText"></app-add-member>
      }
      @else if(modalTitle=="remove"){
        <app-delete-confirmation [content]="modalText"(confirmed)="onConfirm($event)"></app-delete-confirmation>
      }
		<a class="modal--close-btn" (click)="close($event)">X</a>
	</div>
</div>
