<div class="container">
    <div class="profile-container">
        <h2>Profile</h2>
        <div class="profile-field">
          <label>Name:</label>
          <span>{{ user.firstname }} {{ user.lastname }}</span>
        </div>
        <div class="profile-field">
          <label>Username:</label>
          <span>{{ user.username }}</span>
        </div>
        <div class="profile-field">
          <label>Email:</label>
          <span>{{ user.email }}</span>
        </div>
        <div class="profile-field">
          <label>Role:</label>
          <span>{{ user.roles }}</span>
        </div>
        @if(!isGm){
          <div class="profile-field">
            <label>Reporting Officer:</label>
            <span>{{ user.Reporting_Officer }}</span>
          </div>
        }
      </div>
</div>
  