
.tasks-table {
    width: 100%;
    display: flex;
    margin:40px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
   
  h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    background-color: #0d67a3;
    color: #fff;
    border-radius: 8px 8px 0 0;
  }
   
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
  }
   
  th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
   td:hover{
    color:#0d67a3
   }
  th {
    background-color: #3498db;
    color: #fff;
  }
   
  .task-item {
    background-color: #ecf0f1;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
   .task-item:hover{
    background-color: #ffd0b4;
    transition: background-color 0.3s ease;

   }
  .status-item {
    margin-top: 10px;
    font-size: 14px;
    color: #7f8c8d;
    display: flex;
    align-items: center;
    gap: 5px;
  }
   
  .redBullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
  }
   
  .greenBullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
  }