<div class="page-heading">
    
    <h1>Tasks Under {{projectName}}</h1>
 
</div>
<div class="filter-bar">
  <div class="filter-title">
   Filter By :
  </div> 
    <div class="name-filter">
   <label for="assignedToFilter"></label>
 
 <select name="receiver" id="receiver" >
   <option value="" disabled selected>Assigned To</option>
   <option value="a1">A1</option>
   <option value="a2">A1</option>
   <option value="a3">A3</option>
 </select>
  </div>
   <label for="statusFilter"></label>
 <select name="status" id="status">        
   <option value="" disabled selected>Status</option>
   <option value="s1">S1</option>
   <option value="s2">S2</option>
   <option value="s3">S3</option>
 </select>
 
 </div>


<div class="tasks-table"> 
    <table>
      <thead>
        <tr>
          <th>Task Title</th>
          <th>Status</th>
          <th>Assigned To</th>
        </tr>
      </thead>
      <tbody>
  @for(task of taskList; track task.id) {
    
          <tr class="task-item" (click)="showTaskDetails(task)">
            <td>{{ task.t_title }}</td>
            <td class="status-item">
              @if (task.t_status == "Completed") {
                <div class="greenBullet"></div>
              } @else {
                <div class="redBullet"></div>
              }
              <span>{{ task.t_status }}</span>
            </td>
            <td>{{task.firstname}} {{task.lastname}}</td>
     
          </tr>
        }
      </tbody>
    </table>
  </div>