<div class="page-heading">
    
    <h1>Tasks Under {{projectName}}</h1>
 
</div>
<div class="filter-bar">
  <div class="filter-title">
   Filter By :
  </div> 
 
   <label for="statusFilter"></label>
 <select name="status" id="status" (change)="onFilterStatus($event)">        
   <option value="" disabled selected>Status</option>
   <option value="Default">Default</option>
   <option value="Active">Active</option>
   <option value="Pending">Pending</option>
   <option value="Completed">Completed</option>
   <option value="Under Review">Under Review</option>
 </select>
 
 </div>


<div class="tasks-table"> 
    <table>
      <thead>
        <tr>
          <th>Task Title</th>
          <th>Status</th>
          <th>Assigned To</th>
        </tr>
      </thead>
      <tbody>
  @for(task of taskList; track task.id) {
    
          <tr class="task-item">
            <td>{{ task.t_title }}</td>
            <td class="status-item">
              @if (task.t_status == "Completed") {
                <div class="greenBullet"></div>
              } @else {
                <div class="redBullet"></div>
              }
              <span>{{ task.t_status }}</span>
            </td>
            <td>{{task.firstname}} {{task.lastname}}</td>
     
          </tr>
        }
      </tbody>
    </table>      
  </div>
  @if (taskList.length==0) {
    <div class="empty-field">
      No Tasks Under {{projectName}} 
    </div>
  }
 
