
<div class="tasks-table"> 
  <div class="filter-bar">
    <div class="filter-title">
     Filter By :
    </div> 
      <div class="name-filter">
     <label for="assignedToFilter"></label>
   
   <select name="receiver" id="receiver" >
     <option value="" disabled selected>Assigned To</option>
     <option value="a1">A1</option>
     <option value="a2">A1</option>
     <option value="a3">A3</option>
   </select>
    </div>
    <label for="statusFilter"></label>
       <select name="status" id="status" (change)="onFilterStatus($event)">        
         <option value="" disabled selected>Status</option>
         <option value="Active">Active</option>
         <option value="Pending">Pending</option>
         <option value="Completed">Completed</option>
         <option value="Under Review">Under Review</option>
       </select>
       
   
   </div>
    <table>
      <thead>
        <tr>
          <th>Task Title</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
  @for(task of mytasks; track task.id) {
          <tr class="task-item" (click)="showTaskDetails(task)">
            <td>{{ task.t_title }}</td>
            <td class="status-item">
              @if (task.t_status == "Completed") {
                <div class="greenBullet"></div>
              } @else {
                <div class="redBullet"></div>
              }
              <span>{{ task.t_status }}</span>
            </td>
                
          </tr>
        }
      </tbody>
    </table>
    @if (mytasks.length==0) {
      <div class="empty-field">No Tasks Available</div>
      }
    </div>
