
<div class="projects-table"> 
<div class="filter-bar">
  <div class="filter-title">
   Filter By :
  </div>     
   <label for="statusFilter"></label>
  <select name="status" id="status" (change)="onFilterStatus($event)">        
   <option value="" disabled selected>Status</option>
   <option value="Default">Default</option>
   <option value="Initiated">Initiated</option>
   <option value="Completed">Completed</option>
   <option value="In Progress">In Progress</option>
 </select>
</div>

    <table>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Status</th>     
          <th>Due Date</th>    
          
        </tr>
      </thead>
      <tbody>
  @for(project of projects; track project.id) {
          <tr class="project-item" (click)="showDetails(project)">
            <td>{{ project.project_name }}</td>
            <td class="status-item">
              @if (project.project_status == "Completed") {
                <div class="greenBullet"></div>
              } @else {
                <div class="redBullet"></div>
              }
              <span>{{ project.project_status }}</span>
            </td>
            <td>{{ project.due_date }}</td>
          </tr>
        }
      </tbody>
    </table>
    @if (projects.length==0) {
      <div class="empty-field">
        No Data Available
      </div>
    }
</div>