.outer-container{
    width:100%
}
.container {
    width:35%;
   justify-content: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}