
.register-container {
  display: flex;
  margin: 20px;
  height: fit-content;
  width: 400px;
}
 
.register-form {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
 .name{
  display: flex;
  gap: 20px;
 }
 .password{
  display: flex;
  gap: 20px;
 }
 .role-boss-section{
  display: flex;
  gap:82px
 }

.register-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 8px 8px 0 0;
}
 
.register-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
 
.register-form input,
.register-form textarea,
.register-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}
 
.validation-error {
  color: red;
  margin-top: 5px;
}
 
.task-success {
  color: green;
  margin-top: 10px;
}
.reg-button{
  display: flex;
  justify-content: center;
}
 
button {
  display: flex;
  justify-content: center;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  width:140px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}
 
button:hover {
  background-color: #2980b9;
}
 
.register-status {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: red;
}


