.project-head {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3498db;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.project-details {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-bottom:5px solid #66a8d4
}

.project-info {
    margin-bottom: 15px;
}
.status-align{
    display: flex;
}
            

.project-info strong {
    display: inline-block;
    width: 120px; 
    font-weight: bold;
}

.project-info span {
    display: inline-block;
    margin-left: 10px;
}

.redBullet,
.greenBullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.redBullet {
    background-color: red;
}

.greenBullet {
    background-color: green;
}
hr{
    border-radius: 30%;
}
.withEdit{
    display: flex;
    width: 90%;
    justify-content: space-between;
    border-radius: 3px;
}
.withEdit select{
    margin-left: 10px;
    width: 50%;
}
.withEdit button{
    padding: 5px 0px 5px 0px;
    border: none;
    background-color: #3498db;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
    width: 100px;
    cursor: pointer;
}
.members{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    button{
        background-color: #3498db;;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 10px;
    }
}


.membertable{
    margin-top: 5px;
    font-size: 15px;
  
     button{
        margin:10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 80px;
        border-radius: 5px;
        border: none;
        color: white;
        cursor: pointer;
        background-color:#e66161;
    }
}
table {
    font-family: Cambria;
    border-collapse: collapse;
    width: 100%;
  }

 
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .tasks-button{
    display: flex;
    gap:20px;
    float:right;
    border-radius: 5px;
    color: white;
    cursor: pointer;
 
    button{
        background-color: #3498db;;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 10px;
    }
  }