
.comments-section {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-top: 5px solid #66a8d4;
  background-color: #f8f8f8; 
  border-radius: 8px;
  overflow: auto; 
  max-height: 280px;
}

.comment-header {
  display: none; 
}

.comment {
  margin-bottom: 15px;
  display: flex;
  align-items: start;
  justify-content: start;
  border-radius: 6px;
}

.comment textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

.add-button button {
  padding: 10px 15px;
  border: none;
  background-color: #3498db;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 8px;
}

.validation-error {
  color: red;
  margin-top: 5px;
}

.comment-list {
  margin-top: 15px;
}

.comment-body,
.comment-writer,
.comment-date,
.comment-time {
  margin-bottom: 10px;
}

.comment-body {
  font-weight: bold;
}

.remove-button {
  display: flex;
  float: right;
  border: none;
  background-color: #e66161;
  padding: 5px;
  border-radius: 4px;
  color: white;
  width: 60px;
  justify-content: center;
}

.comment-writer {
  color: #3498db;
}

.comment-date
 {
  font-size: small;
  color: #95a5a6; 
}
.comment-time{
  font-size: small;
  color: #95a5a6; 
  float: right;
}