
nav {
  background-color: #1a233f;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  margin-top: 7px;
}

.logo {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: center;
  margin-top: 8px;
}

.nav-links {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #ecf0f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

nav a:hover {
  background-color: #2c3e50;
}

.short-name {
  height: 37px;
  width: 37px;
  color: #1a233f;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #669ec4;
  cursor: pointer;
}

.logout,
.dashboard,
.login {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.short-name:hover,
.logout:hover,
.dashboard:hover,
.login:hover {
  background-color: #7ce1f3;
}

.logout {
  color: #e74c3c;
  border: 1px solid #e74c3c;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 13px 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout:hover {
  background-color: #e74c3c;
  color: #fff;
}

@media screen and (max-width: 768px) {
  nav h1 {
    font-size: 20px;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    padding: 10px 12px;
  }
}
